body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color: black;
}

.hautPage{
  background-image: linear-gradient(to right, purple ,#2DA1D4 );
  padding: 20px;
}

.hautPage a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}



/* Style Logo de la page */

.logo{
  text-align: center;
  display: inline-flex;
  margin: auto;
}
.imglogo{
  width: 110px;
  display: inline-block;
}
.txtlogo{
  text-align:center
}


/* Style menu */

.menu{
  text-align: center;
  line-height: 36px;
  display: inline-flex;
  float: right;
  position: absolute;
  margin: 0px 20px;
}
.menu a{
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  padding: 0px 10px;
  margin: 10px 0px;
  display: inline-block;
  transition: all 0.3s ease;
}
.menu a:hover{
  cursor: pointer;
  color: #2DA1D4;
}

.show-menu-btn,.hide-menu-btn{
  color: white;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
  display: none;

}
.show-menu-btn{
  float: right;
}
.hide-menu-btn i{
  line-height: 70px;
}
.show-menu-btn i{
  line-height: 80px;

}
.show-menu-btn:hover{
  color: black;
}
.hide-menu-btn:hover{
  color: #2DA1D4;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/* Style menu effet responsive */

@media screen and (max-width:10000px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 95%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding-left: 80px 0px;
    line-height: normal;
    transition: 0.7s;
    display: block;
    padding-top: 40px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 20px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;

  }

}

.contenuTextuel{
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-family: sans-serif;
}

.ligne p{
  border: 1px solid #2DA1D4;
  background: #2DA1D4;
  margin-bottom: 70px;

}


.texte{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.texte p{
  text-align: center;
}

.contenuTextuel h2{
  padding: 0px 10px;
  background: #4E8AD8;
}

.contactForm{
  width: 350px;
  margin: 0 auto;
}

.contactForm h3{
  background:#2DA1D4;
  padding: 20px 0px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 0px;

}
.contactForm form{
  margin-bottom: 60px;

}

.contactForm form input{
  border: none;
  border-bottom: 1px solid #2DA1D4;
  background: transparent;
  outline: none;
  font-size: 15px;
  color: white;

}
.zoneTexte{
  width: 100%;

}

.nomTexte, .zoneTexte{

}




.validation{
  margin-bottom: 40px;
}

.validation label{
  cursor: pointer;
}

.validation label input[type="checkbox"]{
  display: none;
}
.validation label span p{
  display: none;
  transition: all 0.7s ease;
}
.validation label span{
  text-align: center;
  user-select: none;
  padding: 20px 10px;
  display: block;
  width: 200px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  transition: all 0.3s ease;
}

.validation label span:hover{
  cursor: pointer;
  background: #2DA1D4;
}
.validation label input[type="checkbox"]:checked ~ span{
  background: #2DA1D4;

}
.validation label input[type="checkbox"]:checked ~ span p{
  display: block;
}

h3{
  text-align: center;
  margin-bottom: 50px;
}

.texte{
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 800px;
}




/* Style bas de la page */
.basPage{
  padding: 10px 0px;
  margin: 0px;
  width:100%;
  background-image: linear-gradient(to right, purple ,#2DA1D4 );
}
.menuBasPage{
  display: inline;
  text-align: center;
}


.menuBasPage a{
  font-family: sans-serif;
  font-size: 17px;
  padding: 0px 10px;
  text-decoration: none;
  color: white;
  display: inline-flex;
  transition: all 0.3s ease;
}
.menuBasPage a:hover{
  cursor: pointer;
  color: black;
}

.basPage p{
  color:white;
  text-align:center;
}
.reseaux{
  line-height: 50px;
  font-size: 40px;
  display: block;
  text-align: center;
}
.reseaux a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  }
  .reseaux a:hover{
  cursor: pointer;
  color: black;
  }
.copyright{
  line-height: 30px;
}
.copyright a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.copyright a:hover{
  cursor: pointer;
  color: black;
}

@media screen and (max-width:600px) {
  .contenuTextuel h2, .titre{
    text-align: center;
  }
