body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color: black;

}



.hautPage{
  background-image: linear-gradient(to right, purple ,#2DA1D4 );
  padding: 20px;

}


.hautPage a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}


/* Style Logo de la page */

.logo{
  text-align: center;
  display: inline-flex;
  margin: auto;
}
.imglogo{
  width: 110px;
  display: inline-block;
}
.txtlogo{
  text-align:center
}


/* Style menu */

.menu{
  text-align: center;
  line-height: 36px;
  display: inline-flex;
  float: right;
  position: absolute;
  margin: 0px 20px;
}

.menu a{
  /*border: 2px solid white;
  border-radius: 50%;*/
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  padding: 0px 10px;
  margin: 10px 0px;
  display: inline-block;
  transition: all 0.3s ease;
}
.menu a:hover{
  cursor: pointer;
  color: #2DA1D4;
}

.show-menu-btn,.hide-menu-btn{
  color: white;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
  display: none;

}
.show-menu-btn{
  float: right;
}
.hide-menu-btn i{
  line-height: 70px;
}
.show-menu-btn i{
  line-height: 80px;

}
.show-menu-btn:hover{
  color: black;
}
.hide-menu-btn:hover{
  color: #2DA1D4;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width:10000px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 95%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding-left: 80px 0px;
    line-height: normal;
    transition: 0.7s;
    display: block;
    padding-top: 40px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 20px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;

  }

}

.titre{
  font-family: sans-serif;
  color: white;
}
.ligneTitre{
  border: 1px solid #2DA1D4;
  background-color: #2DA1D4;
  margin-bottom: 100px;

}
.contenuTextuel{
  margin: 0px 10%;
  font-family: sans-serif;
  color: white;
}
.contenuTextuel h2{
  background-color: #4E8AD8;
  padding: 0px 10px

}

.contenuTextuel h3{
  text-align: center;
  margin-bottom: 60px;
}

.texte{
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
  padding-bottom: 50px;
}

}
.btnTexte{

  border: 2px solid white;
  border-radius: 4px;
  width: 200px;
  margin: 0 auto;
  padding: 20px 0px;

  display: block;
  transition: all 0.3s ease;
}
.btnTexte p{
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  width: 200px;
  margin: 0 auto;
  padding: 20px 10px;
  display: block;
  transition: all 0.3s ease;
}
.btnTexte a{
  text-decoration: none;
  color: white;
}
.btnTexte p:hover{
  cursor: pointer;
  background: #2DA1D4;
}



.contenuLiens{
  text-align: center;
}

#adresse1, #adresse2 {
  text-align: center;
  display: inline-block;
  flex-direction: column;
}


.lienAdresses{
  width: 400px;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  padding: 0px 30px;
  padding-bottom: 100px;

}

.titreAdresse{
  border: 1px solid #2DA1D4;
  background: #2DA1D4;
  border-radius: 4px;
  text-align: center;

}

.lien{
  border-radius: 4px;
}




.basPage{
  padding: 10px 0px;
  margin: 0px;
  width:100%;
  background-image: linear-gradient(to right, purple ,#2DA1D4 );
}
.menuBasPage{
  display: inline;
  text-align: center;
}


.menuBasPage a{
  font-family: sans-serif;
  font-size: 17px;
  padding: 0px 10px;
  text-decoration: none;
  color: white;
  display: inline-flex;
  transition: all 0.3s ease;
}
.menuBasPage a:hover{
  cursor: pointer;
  color: black;
}

.basPage p{
  color:white;
  text-align:center;
}
.reseaux{
  line-height: 50px;
  font-size: 40px;
  display: block;
  text-align: center;
}
.reseaux a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  }
  .reseaux a:hover{
  cursor: pointer;
  color: black;
  }
.copyright{
  line-height: 30px;
}
.copyright a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.copyright a:hover{
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px){

  .contenuTextuel h2, .titre{
    text-align: center;
  }
  #lienAdresses{
    padding: 0px 0px;
    padding-bottom: 100px;
  }
  .lienAdresses{
    display: block;
    padding: 0px;
  }

}
